discord.py==2.2.2
praw==7.7.0
deep_translator==1.10.0
wikipedia==1.4.0
lxml==4.9.2
aiosqlite==0.18.0
beautifulsoup4==4.11.2
revChatGPT==5.1.0
EdgeGPT==0.6.2
googlebard==1.0.3
python-dotenv==1.0.0
